# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

#Code::Blocks files
MIPS_Project/MIPS_Project.depend
MIPS_Project/MIPS_Project.layout
MIPS_Project/bin/*
MIPS_Project/obj/*
